# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
!build/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS
Thumbs.db
.DS_Store

Tests
texture_sample
archive/
dev_safe
.venv
.github/instructions/
Code_Archive/